In [3]:
import pandas as pd
temp = pd.read_csv('daily-minimum-temperatures-in-me.csv')
temp.head()

       Date Daily minimum temperatures
0  1/1/1981                       20.7
1  1/2/1981                       17.9
2  1/3/1981                       18.8
3  1/4/1981                       14.6
4  1/5/1981                       15.8

In [4]:
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3650 non-null   object
 1   Daily minimum temperatures  3650 non-null   object
dtypes: object(2)
memory usage: 57.2+ KB

In [5]:
temp.describe()

            Date Daily minimum temperatures
count       3650                       3650
unique      3650                        230
top     1/1/1981                         11
freq           1                         51

In [11]:
#2
temp['Date'] = pd.to_datetime(temp['Date'],errors='coerce')
temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3650 entries, 0 to 3649
Data columns (total 2 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        3650 non-null   datetime64[ns]
 1   Daily minimum temperatures  3650 non-null   object
dtypes: datetime64[ns](1), object(1)
memory usage: 57.2+ KB

In [15]:
#3:
temp['Year'] = temp['Date'].dt.year
temp['Month'] = temp['Date'].dt.month
temp['Day'] = temp['Date'].dt.day

temp['Day of Week'] = temp['Date'].dt.day_name()
temp.head()

        Date Daily minimum temperatures  Year  Month  Day Day of Week
0 1981-01-01                       20.7  1981      1    1    Thursday
1 1981-01-02                       17.9  1981      1    2      Friday
2 1981-01-03                       18.8  1981      1    3    Saturday
3 1981-01-04                       14.6  1981      1    4      Sunday
4 1981-01-05                       15.8  1981      1    5      Monday

In [18]:
#4-1:
Y = temp[temp['Year'] == 1985]
Y

           Date Daily minimum temperatures  Year  Month  Day Day of Week
1460 1985-01-01                       13.3  1985      1    1     Tuesday
1461 1985-01-02                       15.2  1985      1    2   Wednesday
1462 1985-01-03                       13.1  1985      1    3    Thursday
1463 1985-01-04                       12.7  1985      1    4      Friday
1464 1985-01-05                       14.6  1985      1    5    Saturday
...         ...                        ...   ...    ...  ...         ...
1820 1985-12-27                       11.5  1985     12   27      Friday
1821 1985-12-28                       10.8  1985     12   28    Saturday
1822 1985-12-29                         12  1985     12   29      Sunday
1823 1985-12-30                       16.3  1985     12   30      Monday
1824 1985-12-31                       14.4  1985     12   31     Tuesday

[365 rows x 6 columns]

In [28]:
#4-2:
temp['Daily minimum temperatures'] = pd.to_numeric(temp['Daily minimum temperatures'], errors='coerce')
df_1985 = temp[temp['Year'] == 1985]
days_below_10 = df_1985[df_1985['Daily minimum temperatures'] < 10].shape[0]
print(f"Number of days in 1985 with a temperature below 10°C: {days_below_10}")

Number of days in 1985 with a temperature below 10°C: 142

In [33]:
#5-1:
temp['Daily minimum temperatures'] = pd.to_numeric(temp['Daily minimum temperatures'], errors='coerce')
avg_temp = temp.groupby('Year')['Daily minimum temperatures'].mean()
print(avg_temp)

Year
1981    11.517260
1982    10.840220
1983    11.187397
1984    10.620604
1985    11.137534
1986    10.803288
1987    10.853151
1988    11.972055
1989    11.261918
1990    11.669589
Name: Daily minimum temperatures, dtype: float64

In [35]:
#5-2:
highest_temp = avg_temp.idxmax()
lowest_temp = avg_temp.idxmin()

print(f"Year with the highest average minimum temperature: {highest_temp}")
print(f"Year with the lowest average minimum temperature: {lowest_temp}")

Year with the highest average minimum temperature: 1988
Year with the lowest average minimum temperature: 1984